.container {
  background: linear-gradient(153deg, rgb(4, 127, 165), rgb(12, 10, 40));
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(240, 240, 240);
  position: fixed;
}

h3 {
  margin-top: 8%;
  text-align: center;
  font-weight: 100;
}

.loginForm {
  display: block;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 3rem;
}

input {
  margin-top: 0.3rem;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: inherit;
  width: 20%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  height: calc(40px);
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.loginInfoUsername {
  display: block;
}

.loginInfoPassword {
  display: block;
  margin-top: 1rem;
}

.imgCenter {
  filter: hue-rotate(-40deg);
  margin: 0;
  padding: 0;
  display: block;
  top: 0;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  transition: 0.3s ease-in-out;
}

.imgCenter:hover {
  transform: scale(1.1);
}

.logmeIn {
  margin-top: 2rem;
  width: 20%;
  height: calc(40px);
  outline: none;
  border: none;
  background: rgb(28, 184, 150);
  border-radius: 4px;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logmeIn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: rgb(19, 212, 171);
}

input:focus {
  outline-color: rgb(0, 153, 255);
}

.effect7,
.effect-8,
.effect-9 {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}

.effect7 ~ .focus-border::before,
.effect7 ~ .focus-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #39f;
  transition: 0.4s;
}
.effect7 ~ .focus-border::after {
  top: auto;
  bottom: 0;
}
.effect7 ~ .focus-border i::before,
.effect7 ~ .focus-border i::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #39f;
  transition: 0.6s;
}
.effect7 ~ .focus-border i::after {
  left: auto;
  right: 0;
}
.effect7:focus ~ .focus-border::before,
.effect7:focus ~ .focus-border::after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}
.effect7:focus ~ .focus-border i::before,
.effect7:focus ~ .focus-border i::after {
  top: 0;
  height: 100%;
  transition: 0.6s;
}

.noselect {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.signup {
  display: block;
  bottom: 0;
  margin-top: 0.8rem;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  color: rgb(201, 201, 201);
}

.signup:hover {
  color: white;
  cursor: pointer;
}
